
.container__hamburger {
    margin-left: 300px;
    display: none;
    padding-top: 0.5rem;
}

.hamburger {
    padding: 0.8em;
    background-color: var(--color-main);
    color: var(--color-white);
    outline: none;
    border: none;
    cursor: pointer;
}

.hamburger:is(:active,:hover) {
    background-color: var(--color-main-lighter);
}

.hamburger:is(:active) {
    transform: scale(0.98);
}

.container__close {
    display: none;
    position: absolute;
    left: 286px;
    top: 6px;
    -webkit-box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.75);
}

#close-nav {
    background-color: var(--color-rejected);
    color: var(--color-white);
    padding: 1em;
    outline: none;
    border: none;
    cursor: pointer;
}

@media only screen and (max-width: 784px) {
    .content-title {text-align: center;}

    .container__hamburger {
        display: unset;
        margin-left: 20px;
    }

    .hamburger{margin-top: 12px;}

    #nav-bar {
        display: none;
    }

    .container__content {
        margin-left: 20px;
    }
}