
.container__content {
    margin-left: 300px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

h1, h2 {
    color: var(--color-main);
}

.container__dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    gap: 1rem;
}

.container__card {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.container__table {
    height: 420px;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

.card {
    background-color: var(--color-white);
    padding: 1em;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-left {
    flex: 1 0 auto;
    width: 280px;
    min-width: 320px;
}

.card-right {
    flex: 2 0 auto;
}

.container__table::-webkit-scrollbar {
    width: 0.3rem;
}
 
.container__table::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}
 
.container__table::-webkit-scrollbar-thumb {
    background-color: var(--color-main);
    border-radius: 100px;
}

.card__title {
    color: var(--color-white);
    text-align: center;
    padding: 0.5em;
    font-weight: bold;
    background-color: var(--color-main-lighter);
    font-size: 1.2em;
    border-radius: 10px;
}



.table {
    width: 100%;
    font-size: 0.85em;
    border-collapse: collapse;
    border-spacing: 0;
}


.table  td,
.table tr , .table th {
    text-align: left;
    padding: 0.65rem;
    border-bottom: 1px solid var(--color-main-lighter);
}

.table th {
    background-color: var(--color-card);
}