

.container__content {
    margin-left: 300px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

h1, h2 {
    color: var(--color-main);
}

.container__dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    gap: 1rem;
}

.container__card {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.card {
    background-color: var(--color-white);
    height: 500px;
    padding: 1em;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-left {
    flex: 1 auto;
    width: 280px;
}

.card-right {
    flex: 2 auto;
}


.card__title {
    color: var(--color-white);
    text-align: center;
    padding: 0.5em;
    font-weight: bold;
    background-color: var(--color-main-lighter);
    font-size: 1.2em;
    border-radius: 10px;
}


.table  td,
.table tr , .table th {
    text-align: left;
    padding: 0.65rem;
    border-bottom: 1px solid var(--color-main-lighter);
}

.table th {
    background-color: var(--color-card);
}