.container__content {
    margin-left: 300px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.container__project {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    gap: 1rem;
}

.wrapper__button {
    display: flex;
    justify-content: space-between;
}

.button--left-group {
    display: flex;
    gap: 1rem;
}

.button {
    color: var(--color-main);
    background-color: var(--color-white);
    padding: 0.9em 1.2em;
    outline: none;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
}

.button-add .icon {
    margin-right: 10px;
}

.button-add {
    color: var(--color-white);
    background-color: var(--color-main);
}

.button:hover {
    background-color: var(--color-main-lighter);
    color: var(--color-white);
}

.button:active {
    transform: scale(0.98);
}

.button-active {
    border: 1px solid var(--color-main-darker);
}

.content-title {
    color: var(--color-main);
}

.card {
    width: 100%;
    min-width: 450px;
    background-color: var(--color-white);
    border-radius: 15px;
}

.hidden {
    display: none;
}

.table {
    margin: 0.5em auto;
    width: 95%;
    font-size: 0.85em;
    border-collapse: collapse;
    border-spacing: 0;
}

.table caption {
    color: var(--color-white);
    text-align: center;
    padding: 0.5em;
    font-weight: bold;
    background-color: var(--color-main-lighter);
    font-size: 1.2em;
    border-radius: 10px;
}

.table  td,
.table th {
    text-align: left;
    padding: 0.65rem;
}

/* ///////////////////////////////////// */
/* //////////// project status /////////*/
/* /////////////////////////////////// */

.status {
    padding: 0.4em;
    background-color: var(--color-pending-bg);
    color: #000;
    font-weight: 600;
    border-radius: 5px;
}

.status-pending {
    background-color: var(--color-pending-bg);
    color: #000;
}
.status-accepted {
    background-color: var(--color-accepted-bg);
    color: var(--color-accepted);
}

.status-rejected {
    background-color: var(--color-rejected-bg);
    color: var(--color-rejected);
}

.table-edit-button {
    background-color: none;
    border: none;
    outline: none;
    padding: 0.4em;
    margin-left: 0.5rem;
    margin-right: 0.5em;
    cursor: pointer;
}



/* .form__my-project {
    padding: 1rem;
}

.form__my-project h2{
    margin-bottom: 0.6rem;
}

.project-info {
    margin-top: 0.4rem;
    font-size: 0.9rem;
}

.project-info p{
    margin-top: 0.2rem;
}

.wrapper__file-upload {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.wrapper__file-upload p{
    margin-bottom: 0.2rem;
    display: inline-flex;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    padding: 0.25em 0.5em;
    border-radius: 5px;
    font-weight: 500;
    color: white;
    background-color: var(--color-main-lighter);
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: var(--color-main-darker);
}

.inputfile + label {
	cursor: pointer;
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.wrapper__button-card {
    display: flex;
    justify-content: flex-end;
    gap: 0.8rem;
}

.button-card {
    background-color: var(--color-main);
    color: var(--color-white);
}

.button-card:hover {
    background-color: var(--color-main-lighter);
    transform: scale(0.98);
} */